form, button {border:0 none}
button {cursor:pointer;background:no-repeat}
.txt {height:50px}
.txt1 {height:140px}
#head form {background:url(../img/head/form_01.gif);height:23px;width:235px;float:right;margin:3px 0 0;padding:8px 0 0 11px}
#head input {background:#5C6374;color:#fff;padding:2px;width:165px;border-top:1px solid #293144;border-right:1px solid #858EA5;border-bottom:1px solid #858EA5;border-left:1px solid #293144;float:left}
#head button {font-family:share-TechMono, Tahoma, Arial, Helvetica, sans-seri;color:#fff;background:url(none);text-transform:uppercase;float:left;margin:2px 0 0 4px}
//#content form {background:#eee;padding:8px}
#content input, textarea {border:1px solid #7E7F7F;overflow:hidden;padding:2px;width:140px;margin:0 0 2px 30px}
#content button {background:url(../img/request/request_01.gif) no-repeat;height:15px;width:36px;color:#fff;margin:0 0 0 10px;text-align:center;vertical-align:middle;padding:0 0 2px}