html{
margin-right:1;}
body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: ffffff;
  color: #777;}


 p.especial{
 align:left;
 color:green;
 }
 b{
 color:black}
 p.linea{
 margin-right:0;
 text-align:justify;}
 
p.center{
text-align:center{default;}
 
 







