#head, #content, #foot {margin:auto}
body, h1, form, input, textarea, button, p, ul, li {margin:0;padding:0}
body, input, textarea, a, button {font:11px Tahoma, Arial, Helvetica, sans-serif;color:#6F6F6F}
body {background:#FFF url(../img/head/mainbac_01.gif) repeat-x}
#content h1 {height:15px;border-bottom:1px solid #A1ADB3;color:#0A6EA7;font:bold 12px Candara, Tahoma, Arial, Helvetica, sans-seri;margin:0 0 9px}
.inner_copy, .inner_copy a {border:0;float:right;background:#f00;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-50% 0 0 0;overflow:hidden;padding:0}
ul {margin:0 0 20px}
li {background:url(../img/home/home_03.gif) no-repeat left center;padding:0 0 0 18px;list-style:none;margin:0 0 5px}
.lt {text-align:left;vertical-align:top}
.rt {text-align:right;vertical-align:top}
.floatl {float:left}
.floatr {float:right}
p {padding:0 0 15px}
.clear {clear:both}
.box2 {width:305px}
.img1 {margin:34px 0 0 19px}
.imgL {padding:0 150px 0 0}
.text1 {color:#6F6F6F}
.text2 {text-decoration:underline}