#head {height:299px;width:626px;padding:29px 64px 0 76px;background:url(../img/head/header_01.jpg) no-repeat 64px 63px}
#content {padding:0 58px 0 75px;width:620px}
#foot {color:#fff;background:url(../img/head/footer_01.jpg) no-repeat 59px;height:43px;width:576px;padding:27px 90px 0 100px;margin-top:15px}